@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    
    scroll-behavior: smooth;
}

body{
    font-family: 'Outfit',sans-serif;
    background-color: var(--Light-gray);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    flex-flow: column nowrap;
} */


.card{
    width: 300px;
    height: 485px;
    background-color: var(--White);
    border-radius: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
     
}

.qr img{
    width: 275px;
    height: 275px;
    border-radius: 5%;
    margin-top: 20px;
    
}

.header p{
    color: var(--Dark-blue);
    margin: 25px;
    font-weight: 700;
    font-size: 20px;
}

.description{
    color: var(--Grayish-blue);
    margin:0 25px 0 25px;
    text-align: center;
    font-size: 15px;
}

.attribution{
    position: absolute;
    bottom: 0;
}

